.topColor {
  animation: colorChange 20s infinite;
  transition: all 2s ease-in-out;
}

.yellow {
  fill: #e8c546;
  transition: all 2s; }

.red {
  fill: #db2d2c;
  transition: all 2s; }

.pink {
  fill: #e1678e;
  transition: all 2s; }

.blue {
  fill: #1a367f;
  transition: all 2s; }

@keyframes colorChange {
  0%, 16% {
    fill: #e8c546;

  }
  25%, 41% {
    fill: #db2d2c;

  }
  50%, 66% {
    fill: #1a367f;

  }
  75%, 91% {
    fill: #e1678e;

  }
  100% {
    fill: #e8c546;

  }
}








@keyframes firstB {
  0% {
    opacity: 0;
  }
  16.67% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.firstB {
   animation: firstB 5.5s forwards;
}




@keyframes secondB {
  0% {
    opacity: 0;
  }
  33.33% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.secondB {
   animation: secondB 5.5s forwards;
}






@keyframes thirdB {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.thirdB {
   animation: thirdB 5.5s forwards;
}





@keyframes fourthB {
  0% {
    opacity: 0;
  }
  66.67% {
    opacity: 1;
    /*fill: rgba(0,0,0,0);*/
  }
  100% {
    opacity: 0;
    /*fill: #000;*/
  }
}

.fourthB {
   animation: fourthB 5.5s forwards;
}






@keyframes fifthB {
  0% {
    opacity: 0;
    stroke: black;
    fill: rgba(0,0,0,0);
  }
  70% {
    fill: none;
    stroke: black;
    opacity: 1;
  }
  100% {
    fill: none;
    stroke: black;
    opacity: 0;
  }
}

.fifthB {
   animation: fifthB 5.5s forwards;

}






.sixthB {
   opacity: 0;
}



#bottom {
  animation: bot 6.5s forwards;
}

@keyframes bot {
  0%,85% {
    transform: translateY(.25vh);
    opacity: 0;
  }
  100% {
    transform: translateY(0px;);
    opacity: 1;
  }
}













@keyframes upperFrank {
  0%,70% {
    transform: translateY(.25vh);
    opacity: 0;
  }
  100% {
    transform: translateY(0px;);
    opacity: 1;
  }
}

#upperFrank {
   animation: upperFrank 5s forwards;
}

@keyframes lowerFrank {
  0%,65% {
    transform: translateY(-.25vh);
    opacity: 0;
  }
  95%,100% {
    transform: translateY(0px;);
    opacity: 1;
  }
}

#lowerFrank {
   animation: lowerFrank 5s forwards;
}



#bottom {
  animation: bottom 3s forwards;
  animation-delay: 3.5s;
  opacity: 0;
}

@keyframes bottom {
  0%,70% {
    transform: translateY(.25vh);
    opacity: 0;
  }
  100% {
    transform: translateY(0px;);
    opacity: 1;
  }
}


#up {
  opacity: 0;
  animation: bottom 3s forwards;
  animation-delay: 3.5s;
}
